streamlit>=1.36
simpy>=4.1
matplotlib>=3.8
pandas>=2.2


# activate your venv if needed
& "C:\(A) UNI\4th Year\MEng Final Year Project\Web app\.venv\Scripts\activate.ps1"

# run with Streamlit's runner (note the quotes for the spaced path)
python -m streamlit run "C:\(A) UNI\4th Year\MEng Final Year Project\Web app\app.py"
